HELO:<localhost>
FROM:<www-data@5840950855a4>
TO:<"test" <test@test.fr>

To: "test" <test@test.fr>
Subject: test
From: "test" <test@test.fr>
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="-----=8cc8ca316b9fb7b11a46233e4f79450b"


-------=8cc8ca316b9fb7b11a46233e4f79450b
Content-Type: text/plain; charset="UTF-8"
Content-Transfer-Encoding: 8bit

555

-------=8cc8ca316b9fb7b11a46233e4f79450b
Content-Type: text/html; charset="UTF-8"
Content-Transfer-Encoding: 8bit

555

-------=8cc8ca316b9fb7b11a46233e4f79450b--
